.img {
    width: 400px;
    height: 200px;
    // border:1px dashed #666;
    margin: 50px auto;
    text-align: center;
    line-height: 200px;
    // color: #000;
    margin:50px auto;
}
.upload {
    width: 400px;
    text-align: center;
    height: 200px;
    // background-color:pink;
    font-size: 24px;
    // font-weight: 700;
    border: 0;
    line-height: 200px;
    border: 1px dashed #666;
    border-radius: 4px;
    margin: auto;
}
.up {
    font-size: 80px;
}