.img {
  width: 400px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}
.upload {
  width: 400px;
  text-align: center;
  height: 200px;
  font-size: 24px;
  border: 0;
  line-height: 200px;
  border: 1px dashed #666;
  border-radius: 4px;
  margin: auto;
}
.up {
  font-size: 80px;
}
.img_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}
.name {
  padding: 25px 0;
  text-align: center;
  color: #000;
}
.txt {
  margin-right: 10px;
}
.total {
  margin-top: 5px;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 10px;
  justify-content: space-between;
}
.process {
  width: 95%;
  height: 5px;
  margin-right: 4px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.progressNumber {
  display: block;
  height: 5px;
}
.del {
  display: none;
}
.active {
  display: block;
}
