:global {
    .charts.ant-card {
        height: 100%;

        .ant-card-body {
            height: 100%;
            padding: 10px;
            overflow: hidden;
        }
    }

    .skill {

        .ant-card-body {
            padding: 10px;
            width: 100%;
            height: 100%;
        }
    }
    .pro {
        // float: left;
        width: 75%;
        display: inline-block;
        vertical-align: middle;
    }
}

.imgs {
    width: 100%;
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 200px;
        display: block;
        transition: all 1s;
    }
    img:hover {
        transform: scale(1.3);
    }
}

.icons {
    padding-left: 30px;
    font-size: 38px;
    width: 30%;
    float: left;
    cursor: pointer;
    transition: all 1.4s;

    &:hover {
        transform: scale(1.3) rotate(180deg);
    }
}

.content {
    width: 70%;
    padding-left: 20%;
    float: left;
    overflow: hidden;
    text-align: center;

    i {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, .5);
    }

    p {
        font-size: 24px;
        color: #000;
        text-shadow: 2px 3px 3px rgba(68, 4, 4, 0.5);
        transition: all .8s;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.cover {
    .picture {
        padding-top: 80px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .jpg {
            flex: 1;
            height: 90%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
            margin-left: 20px;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 60%;
                left: 0;
                filter: blur(4px);
                transition: all 1s;
            }

            &:hover {
                &::after {
                    background-color: transparent;
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            img:hover {
                transform: scale(1.3);
            }
        }
    }
}
.ul {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    .names {
        width: 19%;
        float: left;
        color: #000;
        font-size: 18px;
        padding-left: 10px;
        font-weight: 700;
    }
}
